@model HRM.DAL.Models.User
@{
    ViewBag.Title = "Add";
}

<div class="container" align="center">
    <div class="panel-footer " style="width: 250px; border:1px solid black;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Add User</h4>             
            
                <div class="form-group">
                    @Html.LabelFor(i => i.FullName)
                    <div class="col-md-10">
                        @Html.EditorFor(i => i.FullName)

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.Email)
                    <div class="col-md-10">
                        @Html.EditorFor(i => i.Email)

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.LevelId)
                    <div class="col-md-10">
                        @Html.EditorFor(i => i.LevelId)
                    </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Password)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.Password)

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.StartDate)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.StartDate)

                        </div>
                    </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.StatusId)
                    <div class="col-md-10">
                        @Html.EditorFor(i => i.StatusId)

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.UserRole)
                    <div class="col-md-10">
                        @Html.EditorFor(i => i.UserRole)

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.UserTeam)
                    <div class="col-md-10">
                        @Html.EditorFor(i => i.UserTeam)

                    </div>
                </div>
              
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-default" />
                    </div>
                </div>

            </div>
            
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

</div>

