@model HRM.DAL.Models.User

@{
    ViewBag.Title = "Delete";
}


<div class="container" align="center">
    <div class="panel-footer " style="width: 250px; border:1px solid black; color:red">

        <h3>Are you sure you want to delete this?</h3>
        @using (Html.BeginForm())
            {
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        @Html.LabelFor(i => i.FullName)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.FullName)

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Email)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.Email)

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.LevelId)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.LevelId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Password)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.Password)

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.StartDate)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.StartDate)

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.StatusId)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.StatusId)

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.UserRole)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.UserRole)

                        </div>
                    </div>
                    <div class="form-group" st>
                        @Html.LabelFor(i => i.UserTeam)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.UserTeam)

                        </div>
                    </div>
                    <p>
                        <input id="Submit1" onclick="return confirm('Are you sure you want delete');"
                               type="submit" value="Delete" />|
                        @Html.ActionLink("Back to List", "Index")
                    </p>
        }
    </div>

    </div>


