
@{
    ViewBag.Title = "Page";
}

<div class="container" align="center">
    <div class="panel-footer " style="width: 250px; border:1px solid black;">
        <h2>Home page</h2>
        <ul>
            <div class="container" align="left">
                <li>@Html.ActionLink("User", "Index", "Home")</li>
                <li>@Html.ActionLink("UserLevel", "Index", "UserLevel")</li>
                <li>@Html.ActionLink("UserDocument", "Index", "UserDocument")</li>
                <li>@Html.ActionLink("Team", "Index", "Team")</li>
                <li>@Html.ActionLink("StatusType", "Index", "StatusType")</li>
                <li>@Html.ActionLink("Role", "Index", "Role")</li>
                <li>@Html.ActionLink("RequestType", "Index", "RequestType")</li>
                <li>@Html.ActionLink("OfficialHollidays", "Index", "Holly")</li>
                <li>@Html.ActionLink("Settings", "Index", "Setting")</li>
                <li>@Html.ActionLink("Request", "Index", "Request")</li>
                <li>@Html.ActionLink("Status", "Index", "Status")</li>
                <li>@Html.ActionLink("UserRole", "Index", "UserRole")</li>
                <li>@Html.ActionLink("UserTeam", "Index", "UserTeam")</li>
            </div>
        </ul>
    </div>
</div>


